{% macro footer(grid_size) %}
<section id="footer" class="bg-gray">
  <div class="container {{ grid_size }}">
    {{ social_buttons::social_buttons() }}
    <div class="columns">
      {% if config.extra.footer_tagline %}
      <div class="column col-6 col-lg-12 col-mx-auto" style="text-align: center;">
        {{ config.extra.footer_tagline }}
      </div>
      {% endif %}
      <div class="column col-6 col-lg-12 col-mx-auto" style="text-align: center;">
        <a rel="nofollow" href="https://github.com/gicrisf/zhuia">Zhuia</a> theme made by <a rel="nofollow" href="https://github.com/gicrisf/">gicrisf</a>.
      </div>
    </div>
  </div>
</section>
{% endmacro footer %}
